<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript">
  $(function () {
    var $content = $('#content');
    var data = {
      rss_url: 'https://medium.com/feed/learnwithrahul'
    };
    $.get('https://api.rss2json.com/v1/api.json', data, function (response) {
      if (response.status == 'ok') {
        console.log(response);
        let postsHtml = '<br>';

        $.each(response.items, function (k, item) {
          let $description = $(item.description);

          //trim the string to the maximum length
          let trimmedDescription = $description.text().substr(0, 300);

          //re-trim if we are in the middle of a word
          trimmedDescription = trimmedDescription.substr(0, Math.min(trimmedDescription.length, trimmedDescription.lastIndexOf(" ")))

          let post = `
            <div class="${ k % 2 === 0 ? 'blog-card' : 'blog-card alt'}">
              <div class="photo">
                <img src="${item.thumbnail}"/>
              </div>
              <ul class="details">
                <li class="author"><a href="#">${item.author}</a></li>
                <li class="date">${item.pubDate}</li>
              </ul>
              <div class="description">
                <h3>${item.title}</h3>
                <p class="summary">${trimmedDescription}</p>
                <a href="${item.link}">Read More</a>
              </div>
            </div>
          `;
          postsHtml += post;
        });
        $content.html(postsHtml);
      }
    });
  });
</script>

<div class="user-details">
  <h1> Recent Posts </h1>
</div>
<div id="content"></div>